---
layout: default
---

<div class="home">
  <div class="home-intro">
    {{ content }}
  </div>

  {%- if site.posts.size > 0 -%}
  <div class="post-previews" role="feed" aria-label="Recipe posts">
    {%- for post in site.posts -%}
    <article class="post-preview">
      {%- if post.listing_image -%}
      <div class="post-preview__thumb">
        <a href="{{ post.url | relative_url }}" class="post-preview__image-link">
          <img src="{{ post.listing_image | relative_url }}" alt="{{ post.title | escape }}" loading="lazy"
            decoding="async" width="800" height="534" />
        </a>
      </div>
      {%- endif -%}
      <div class="post-preview__body">
        <a class="post-preview__card" href="{{ post.url | relative_url }}">
          {%- assign _df = site.minima.date_format | default: "%b %-d, %Y" -%}
          <time class="post-meta" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: _df }}</time>
          <h3 class="post-preview__title">{{ post.title | escape }}</h3>
        </a>
        {%- if post.listing_summary -%}
        <p class="post-preview__summary">{{ post.listing_summary | escape }}</p>
        {%- endif -%}
      </div>
    </article>
    {%- endfor -%}
  </div>
  {%- endif -%}
</div>